In [16]:
# download dependencies
from pandas import DataFrame, read_csv
import pandas as pd
from sqlalchemy import create_engine
from config import pw

In [24]:
# create connection string to database
db_string = f'postgresql://postgres:{pw}@127.0.0.1:5432/economic_freedom_index'
# create database engine
engine = create_engine(db_string)

In [27]:
# load 2013-2021 data, remove spaces, save as csv files

# create empty list to append dataframe names
index_list=[]

# loop through years
for i in range(2013,2022): 
    # load data into df and append to list
    file = r'economic_freedom/data/xls/index'+str(i)+'_data.xls'
    index_list.append(pd.read_excel(file))
    
    # remove spaces and replace with underscore in df column names
    index_list[i-2013].columns = index_list[i-2013].columns.str.replace(' ','_')
    
    # load index df into database
    #index_list[i-2013].to_sql(name=f'index'+str(i), con=engine, if_exists='replace')
   # index_list[0].to_sql(name='test', con=engine, if_exists='replace')
    
    # save as csv file
   # index_list[i-2013].to_csv('economic_freedom/data/csv/index'+str(i)+'_data.csv', header=True, index=False)

In [28]:
index_list[0]

,CountryID,Country_Name,WEBNAME,Region,World_Rank,Region_Rank,2013_Score,Change_in_Yearly_Score_from_2012,Property_Rights,Change_in_Property_Rights_from_2012,...,Country,Population_(Millions),"GDP_(Billions,_PPP)",GDP_Growth_Rate_(%),5_Year_GDP_Growth_Rate_(%),GDP_per_Capita_(PPP),Unemployment_(%),Inflation_(%),FDI_Inflow_(Millions),Public_Debt_(%_of_GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,NaN,NaN,NaN,NaN,NaN,NaN,...,Afghanistan,31.084,29.731,5.737,10.335398,956.448,NaN,11.247,83.411455,12.100
1,2,Albania,Albania,Europe,58.0,27.0,65.2,0.1,30.0,-5.0,...,Albania,3.218,24.910,2.000,4.431419,7741.428,13.5,3.427,1031.362818,58.923
2,3,Algeria,Algeria,Middle East / North Africa,145.0,14.0,49.6,-1.4,30.0,0.0,...,Algeria,35.954,263.661,2.470,2.718594,7333.226,10.0,4.500,2571.000000,9.925
3,4,Angola,Angola,Sub-Saharan Africa,158.0,40.0,47.3,0.6,15.0,-5.0,...,Angola,19.625,115.679,3.404,8.848807,5894.617,NaN,13.500,-5585.529270,30.897
4,5,Argentina,Argentina,South and Central America / Caribbean,160.0,27.0,46.7,-1.3,15.0,-5.0,...,Argentina,40.900,716.419,8.870,6.811779,17516.147,7.2,9.775,7243.148181,44.203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,181,Yemen,Yemen,Middle East / North Africa,113.0,12.0,55.9,0.6,30.0,0.0,...,Yemen,25.130,57.966,-10.480,1.411758,2306.695,NaN,17.610,-712.810000,42.522
181,182,Zambia,Zambia,Sub-Saharan Africa,93.0,12.0,58.7,0.4,30.0,0.0,...,Zambia,13.585,21.882,6.565,6.490851,1610.722,14.0,8.659,1981.700000,26.072
182,183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,46.0,28.6,2.3,10.0,0.0,...,Zimbabwe,12.575,6.127,9.319,-0.145682,487.197,95.0,3.470,387.000000,70.328
183,184,Somalia,Somalia,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,...,Somalia,9.100,6.100,2.600,NaN,600.000,NaN,NaN,102.000000,NaN
184,185,Kosovo,Kosovo,Europe,NaN,NaN,NaN,NaN,30.0,NaN,...,Kosovo,1.700,11.990,5.200,NaN,7052.000,45.1,7.300,473.000000,5.600