In [1]:
# download dependencies
from pandas import DataFrame, read_csv
import pandas as pd
from sqlalchemy import create_engine
from config import pw

In [3]:
# load data for 2006-21 ranking
file = r'political_and_civil_liberty/Aggregate_Category_and_Subcategory_Scores_FIW_2003-2021.xlsx'
df=pd.read_excel(file, 'FIW06-21')
df.head()

,Country/Territory,Region,C/T?,Edition,Status,PR Rating,CL Rating,A,B,C,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,x
0,Abkhazia,Eurasia,t,2021,PF,5,5,5,8,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,Asia,c,2021,NF,5,6,3,7,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,Europe,c,2021,PF,3,3,8,12,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,MENA,c,2021,NF,6,5,3,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,Europe,c,2021,F,1,1,12,15,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# drop columns where all rows have NaN
df.dropna(axis=1, how='all', inplace=True)
df.head()

,Country/Territory,Region,C/T?,Edition,Status,PR Rating,CL Rating,A,B,C,Add Q,Add A,PR,D,E,F,G,CL,Total
0,Abkhazia,Eurasia,t,2021,PF,5,5,5,8,4,0,NaN,17,8,6,4,5,23,40
1,Afghanistan,Asia,c,2021,NF,5,6,3,7,3,0,NaN,13,6,4,2,2,14,27
2,Albania,Europe,c,2021,PF,3,3,8,12,7,0,NaN,27,13,8,9,9,39,66
3,Algeria,MENA,c,2021,NF,6,5,3,4,3,0,NaN,10,6,3,6,7,22,32
4,Andorra,Europe,c,2021,F,1,1,12,15,11,0,NaN,38,14,11,15,15,55,93

In [11]:
# confirm that df has 3339 rows and 19 columns
df.shape

(3339, 19)

In [13]:
# replace spaces in column names with underscores
df.columns=df.columns.str.replace(' ','_')
df.head()

,Country/Territory,Region,C/T?,Edition,Status,PR_Rating,CL_Rating,A,B,C,Add_Q,Add_A,PR,D,E,F,G,CL,Total
0,Abkhazia,Eurasia,t,2021,PF,5,5,5,8,4,0,NaN,17,8,6,4,5,23,40
1,Afghanistan,Asia,c,2021,NF,5,6,3,7,3,0,NaN,13,6,4,2,2,14,27
2,Albania,Europe,c,2021,PF,3,3,8,12,7,0,NaN,27,13,8,9,9,39,66
3,Algeria,MENA,c,2021,NF,6,5,3,4,3,0,NaN,10,6,3,6,7,22,32
4,Andorra,Europe,c,2021,F,1,1,12,15,11,0,NaN,38,14,11,15,15,55,93

In [15]:
# save years in df as list
years_list=df.Edition.unique().tolist()
years_list

[2021,
 2020,
 2019,
 2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006]

In [22]:
# create connection string to database
db_string = f'postgresql://postgres:{pw}@127.0.0.1:5432/freedom_in_the_world_index'
# create database engine
engine = create_engine(db_string)

In [23]:
# load df into SQL database

df_list=[]

for year in years_list:
    # filter df for year
    df_year = df[df["Edition"]==year]
    
    # append filtered df to list
    df_list.append(df_year)
    
    #load into database
    df_year.to_sql(name=f'index'+str(year),con=engine, if_exists='replace', index=False)

,Country/Territory,Region,C/T?,Edition,Status,PR_Rating,CL_Rating,A,B,C,Add_Q,Add_A,PR,D,E,F,G,CL,Total
3133,Abkhazia,Eurasia,t,2006,PF,5,5,5,5,3,0,0.0,13,8,4,4,5,21,34
3134,Afghanistan,Asia,c,2006,PF,5,5,6,7,3,0,0.0,16,5,5,4,5,19,35
3135,Albania,Europe,c,2006,PF,3,3,8,11,6,0,0.0,25,11,8,10,9,38,63
3136,Algeria,MENA,c,2006,NF,6,5,5,3,3,0,0.0,11,8,6,4,7,25,36
3137,Andorra,Europe,c,2006,F,1,1,12,15,12,0,0.0,39,16,11,15,15,57,96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3334,Vietnam,Asia,c,2006,NF,7,5,0,1,1,0,0.0,2,3,2,4,8,17,19
3335,Western Sahara,MENA,t,2006,NF,7,6,0,0,0,2,0.0,-2,3,2,0,5,10,8
3336,Yemen,MENA,c,2006,PF,5,5,4,6,3,0,0.0,13,7,3,3,5,18,31
3337,Zambia,SSA,c,2006,PF,4,4,5,11,6,0,0.0,22,11,8,8,7,34,56
3338,Zimbabwe,SSA,c,2006,NF,7,6,1,4,0,0,0.0,5,5,3,1,1,10,15